<div class="yui-gc">
  <div class="yui-u first">
    <%= f.field_container :name do %>
      <%= f.label :name %> <span class='required'>*</span><br />
      <%= f.text_field :name, :class => 'fullwidth title' %>
      <%= f.error_message_on :name %>
    <% end %>

    <%= f.field_container :date do %>
      <%= f.label :date %> <span class='required'>*</span><br />
      <%= f.spree_date_picker :date, {}, {:style => 'width:220px;'} %>
      <%= f.error_message_on :date %>
    <% end %>

    <%= f.field_container :time do %>
      <%= f.label :time %><br />
      <%= f.text_field :time %>
      <%= f.error_message_on :time %>
    <% end %>
  </div>
</div>