<div class='toolbar'>
  <ul class='actions'>
    <li id="new_ot_link">
      <%= button_link_to t(:new_event), new_object_url, :icon => 'add' %>
    </li>
  </ul>
  <br class='clear' />
</div>

<h1><%= t :events %></h1>

<table class='index'>
  <tr>
    <th><%= Event.human_attribute_name :name %></th>
    <th><%= Event.human_attribute_name :date %></th>
    <th><%= Event.human_attribute_name :time %></th>
    <th class="actions"></th>
  </tr>
  <% @events.each do |event| %>
    <tr id="<%= dom_id event %>">
      <td><%= event.name %></td>
      <td><%= event.date.strftime '%d.%m.%Y' %></td>
      <td><%= event.time %></td>
      <td class="actions">
        <%= link_to_edit event %>
        &nbsp;
        <%= link_to_delete event %>
      </td>
    </tr>
  <% end %>
</table>


