

<h1>Галерея</h1>

<% if @galleries.blank? %>
  <%= t(:ext_galleries_no_galleries) %>
<% else %>
  <div class="gallery-listing">
    <% @galleries.each_with_index do |gallery, g| %>
      <div class="gallery">
        <div class="gallery-title-wrapper">
          <h2 class="gallery-title"><%= gallery.title %></h2>
          <span class="gallery-caption"><%= gallery.caption %></span>
          <br/>
          <ul class="gallery-image-pages">
            <% gallery.gallery_items.each_with_index do |item, i| %>
              <li class="<%= 'selected' if i == 0 %>"><%= i + 1 %></li>
            <% end %>
          </ul>
        </div>
        <div class="gallery-picture">
          <% gallery.gallery_items.each_with_index do |item, i| %>
            <% if i == 0 %>
              <%= image_tag item.attachment.url(:normal), :class => 'bp-pic' %>
            <% end %>
            <%= link_to image_tag(item.attachment.url(:normal)), item.attachment.url(:large), :style => "display: #{i == 0 ? 'block' : 'none'};", :rel => "gallery-#{g}" %>
          <% end %>
        </div>
      </div>
      <hr>
    <% end %>
    <div style="clear:both;"></div>
  </div>
<% end %>

<% content_for :head do %>
  <%= javascript_include_tag 'jquery.colorbox-min' %>
  <%= stylesheet_link_tag 'colorbox' %>

  <script type="text/javascript">
    $(document).ready(function(){
      $('.gallery').each(function(){
        var $pages = $('.gallery-image-pages li', this);
        if($pages.length){
          var $thumbs = $('.gallery-picture a', this),
              $bpPic = $('.bp-pic', this),
              currentIndex = 0, index;

          $pages.click(function(){
            index = $pages.index($(this));
            if(currentIndex != index){
              $pages.removeClass('selected');
              $(this).addClass('selected');
              $thumbs.eq(currentIndex).fadeOut('slow', function(){
                $(this).hide(); // Hide at the and is jQuery 1.4 fix
              });
              $thumbs.eq(index).fadeIn('slow', function(){
                $bpPic.attr('src', $('img', this).attr('src'));
              });
              currentIndex = index;
            }
          });

          $thumbs.colorbox({
            maxWidth: '100%',
            maxHeight: '100%',
            close: 'закрыть',
            current: '',
            previous: 'пред',          
            next: 'след',
          });
        }
      });
    });
  </script>
<% end %>
