<% content_for :head do %>
  <%#= stylesheet_link_tag "galleries" %>
<% end %>

<h1>Галерея</h1>

<% if @galleries.blank? %>
  <%= t(:ext_galleries_no_galleries) %>
<% else %>
  <div class="gallery-listing">
    <% @galleries.each do |gallery| %>
      <div class="gallery">
        <div class="gallery-title-wrapper">
          <h2 class="gallery-title"><%= gallery.title %></h2>
          <span class="gallery-caption"><%= gallery.caption %></span>
          <br/>
          <ul class="gallery-image-pages">
            <% i=1; gallery.gallery_items.each do |item| -%>
              <li class="<%= 'selected' if i.eql?(1) %>">
                <%= i %>
                <%= image_tag item.attachment.url(:normal) %>
              </li>
            <% i+=1; end if gallery.gallery_items.any?-%>
          </ul>
        </div>
        <div class="gallery-picture">
          <%= image_tag(gallery.gallery_items.first.attachment.url(:normal)) if gallery.gallery_items.any? %>
          <%= image_tag(gallery.gallery_items.last.attachment.url(:normal), :class=>'bp_pic') if gallery.gallery_items.any? %>
          
        </div>
      </div>
      <hr>
    <% end %>
    <div style="clear:both;"></div>
  </div>
<% end %>


<script type="text/javascript">
  $(function(){
    $("ul.gallery-image-pages>li").click(function(){
      $(this).parent().children().removeClass('selected');
      $(this).addClass('selected')
      $src = $(this).find('img').attr('src');
      $img = $(this).parent().parent().parent().find('div.gallery-picture>img:first');
      $img2 = $(this).parent().parent().parent().find('div.gallery-picture>img:last');
      
      $img.attr('src',$src)
      $img2.fadeOut(function(){
        $(this).attr('src',$src).show()
      })
      
      
    })
  })
</script>

