<!-- font-family: 'Open Sans', sans-serif; -->
<%= javascript_include_tag 'dragscrollable' %>
<% i=1; -%>
<%= form_for :order, :url => populate_orders_url, :html=>{:id=>'cartForm'} do |f| %>
<%= hook :inside_product_cart_form do %>
  <% if @product.has_stock? || Spree::Config[:allow_backorders] %>
    <%= hidden_field_tag (@product.has_variants? ? :quantity : "variants[#{@product.master.id}]"),
      1, :class => "title", :size => 3 %>
    &nbsp;
    <!-- <button type='submit' class='add-to-cart'> -->
      <%#= t('add_to_cart') %>
    <!-- </button> -->
  <% else %>
    <%= content_tag('strong', t('out_of_stock')) %>
  <% end %>
  <% if @product.has_variants? %>
    <% 
        optioins_count = ((@product.variants.active.length - (@product.variants.active.length%9))/9);
        optioins_count += 1 unless (@product.variants.active.length%9).eql?(0)
        bg_css = "background:url(/images/product/p_bottom_#{optioins_count}.png) no-repeat;"
    %>
    <div id="product-variants"  style="<%== bg_css %>">
    <% if defined?(SpreeEnhancedOptionTypes) %>
      <%= render :partial => (Spree::Config[:eot_presentation_type] || 'radio_sets'), :locals => {:f => f} %>
    <% else %>
      
      <ul>
        <% has_checked = false
        @product.variants.active.sort_by{|v| v.option_values.first.presentation.to_s.match(/^([0-9]+)(.*?)$/)[0].to_i}.each_with_index do |v,index|
          next if v.option_values.empty? || (!v.in_stock && !Spree::Config[:show_zero_stock_products])
          checked = !has_checked && (v.in_stock || Spree::Config[:allow_backorders])
          has_checked = true if checked 
          %>
          <li>
              <%= radio_button_tag "products[#{@product.id}]", v.id, checked, :disabled => !v.in_stock && !Spree::Config[:allow_backorders], :class=>"product-variant #{'focused' if checked}" %>
              <label for="products_<%= @product.id %>_<%= v.id %>" class="clabel <%= 'focused' if checked %>">
                <%= v.option_values.first.presentation.to_s.match(/^([0-9]+)(.*?)$/)[1] if v.option_values.first.presentation.to_s.match(/^([0-9]+)(.*?)$/) %>
                  <%#= i %><% i+=1; -%>
              </label>
                <div class="product-color" style="background: <%== v.option_values.first.name %> !important;">
                  <div class="variant-cover">
                    <div class="variant-description"><%= v.option_values.first.presentation.gsub(/^([0-9]+) /,'') %></div>
                  </div>
                </div>
              
              <% if variant_price_diff v %>
                <span class="price diff"><% variant_price_diff v %></span>
              <% end %>
          </li>
        <% end%>
      </ul>
    <% end %>
    </div>
  <% end%>


<% end %>
<% end %>

<% content_for :head do %>
  <%= javascript_include_tag 'product' %>
<% end %>



<script type='text/javascript'>
    function updateSelectedStyle() {
      $('.focused').removeClass('focused');
      $(this).addClass('focused').next().addClass('focused');
    }
    $(document).ready(function() {
       $('.clabel').click(updateSelectedStyle);
    })

    
</script>
