
<% content_for :sidebar do %>
  <%= hook :taxon_sidebar_navigation do %>
    <%= render :partial => "shared/taxonomies" %>
  <% end %>
<% end %>
<script type="text/javascript">
  $(function() {
    <% if defined?(SpreeReviews) %>

    $('#description_add_review_link').click(function() {
      show_add_review_container();
      $('#add_review_link').parent('div').slideUp();
    });

    $('#add_review_link').click(function(e) {
      show_add_review_container();
      $(this).parent('div').slideUp();
      e.preventDefault();
    });
    <% end %>

    add_image_handlers();
  });

  function show_add_review_container() {
    $('#add_review_container').slideDown();
  }
</script>
<% @body_id = 'product-details' %>
<% 
  if @product.has_variants?
    style = "background:url(/images/product/p_box1.png) no-repeat;"
  else
    style = "background:url(/images/product/p_box.png) no-repeat; padding-bottom:45px;"
  end
-%>
<div class="product_canvas" style='<%= style %>'>
  <div class="product_canvas_image">
    <div id="main-image">
        <%= render 'image' %>
    </div>
    <% if @product.images.any? %>
    <div class="simple_overlay" id="large_image_overlay" style="display: none;">
      <div class="overlay_container">
        <div class="large_image" style="width: <%= large_sizes[:width] %>px; height: <%= large_sizes[:height] %>px">
          <img src="<%= @product.images.first.attachment.url(:large) %>"/>
        </div>
        <div class="thumbs_gallery">
          <ul></ul>
        </div>
      </div>
    </div>
    <% end %>
    <div id="thumbnails" style="display:none;">
      <%= render 'thumbnails', :product => @product %>
    </div>
  </div>

  <div class="product_canvas_description">
    <h2><%= @product.name %></h2>
    <span class="code">код <%= raw(@product.sku) %></span>
    <hr/>
    <%= product_description(@product) %>
    <div class="price"><%= product_price(@product) %></div>
    <button type='submit' class='add-to-cart' onclick="$('#cartForm').submit()">
      <%#= t('add_to_cart') %>
    </button>
  </div>


</div>
  <div id="cart-form">
    <%= hook :cart_form do %>
      <%= render 'cart_form' %>
    <% end %>
  </div>

<%= render :partial => 'shared/like_buttons' %>

<% render 'taxons' %>
<%= render 'shared/reviews' if defined?(SpreeReviews) %>
