<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <%= render 'shared/head' %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,300,600,400,700&subset=latin,cyrillic-ext,cyrillic' rel='stylesheet' type='text/css'>
</head>
<%
   if @body_class.nil?
     if content_for?(:sidebar)
       @body_class = 'two-col'
     else
       @body_class = 'one-col'
     end
   end
%>

<body class="<%= @body_class %>" id="<%= @body_id %>">
<div style="display:none;"><img src="/images/bg.gif"></div> <!-- For caching background image -->
<div class="wrapper">
  <div class="main_top" align="center">
    <div class="header_panel">
      <ul>
        <li style="width:250px"><div><%= link_to image_tag("top_logo.png", :alt => ""), root_url %></div></li>
        <li class="header_panel_search">
          <div id="flag_1">Made in Italy</div>
          <div id="flag_2">Эксклюзивный<br/>дистрибьютор</div>
          <div id="header_menu">
            <table class="" width="100%">
              <tr>
                <td>
                  <ul class="header_menu">
                    <% for page in Page.header_links do %>
                      <li<%== ' style="margin-left:-15px;"' if Page.header_links.first.eql?(page) %>><%= link_to page.title, page.link %></li>
                    <% end %>
                  </ul>
                </td>
                <td><span id="phone_number">(495) 230-22-96</span></td>
              </tr>
              <tr>
                <td colspan="2" >
                  <%= render 'shared/search' %>
                  <%= hook :shared_login_bar %>
                  <%= link_to_cart %>
                </td>
              </tr>
            </table>
            
            
          <!--
          
          
          <div></div>
          -->
          </div>
        </li>
        <li class="header_panel_cart">
          
        </li>
        <% if defined?(SpreeCompareProducts) %>
        <li class="header_panel_compare_product">
            <div><%= link_to(t(:product_comparison, :scope => :compare_products) + (@comparable_products.size > 0 ? " (#{@comparable_products.count})" : ""),
                             compare_products_path, :id => "compare_products") %></div>
            <div id="tooltip" class="tooltip" style="display: none">
              <div class="tooltip_top"></div>
              <div class="tooltip_middle">
                <div style="font-size: 0px">&nbsp;</div>
                <div class="tooltip_content" id="tooltip_content"></div>
                <div style="font-size: 0px">&nbsp;</div>
              </div>
              <div class="tooltip_bottom"></div>
            </div>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div align="center">
    <div class="fixed_width">
     <!--
      <div id="top_panel">
        <div id="top_login_bar">
          <!-- Тут было login_bar
        </div>
        <!-- Тут было header_menu 
      </div>
      -->
      <%= render :partial => 'shared/comparable_products' if defined?(SpreeCompareProducts) %>
      <% if content_for?(:sidebar) %>
        <div class="sidebar">
          <%= hook :sidebar do %>
            <%= yield :sidebar %>
          <% end %>

          <% if Page.sidebar_links.any? %>
          <div id="sidebar_menu">
            <ul class="sidebar_menu">
              <% for page in Page.sidebar_links do %>
                <li><%= link_to page.title, page.link %></li>
              <% end %>
            </ul>
          </div>
          <% end %>
        </div>
      <% end %>
      <div id="content" class="content">
        <%= flash_messages %>
        <noscript>
          <% if flash[:notice] %>
            <div class="flash notice"><%= flash[:notice] %></div>
          <% end %>
          <% if flash[:error] %>
            <div class="flash errors"><%= flash[:error] %></div>
          <% end %>
        </noscript>
          
          <% @taxonomies.select{|t| t.show_on_homepage }.each do |taxonomy| %>
            <% taxonomy.taxons.each do |taxon| %>
              <%= render :partial => "shared/products", :locals => {:products => taxon_preview(taxon, 6), :taxon => taxon} %>
            <% end %>
          <% end if @taxonomies%>

        <%= yield %>
      </div>
      <div style="height: 10px;"></div>
    </div>
  </div>
  <div class="footer_fake"></div>
</div>

<div class="footer" align="center">
<% cache 'footer_menu' do %>
  <ul class="footer_menu">
    <% for page in Page.footer_links do %>
      <li><%= link_to page.title, page.link %></li>
    <% end %>
  </ul>
<% end %>
</div>
<%= hook :footer_right %>
<% cache 'google_analytics' do %>
  <%= render 'shared/google_analytics' %>
<% end %>
</body>
</html>

