<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <%= render 'shared/head' %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,300,600,400,700&subset=latin,cyrillic-ext,cyrillic' rel='stylesheet' type='text/css'>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-18948715-4']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
  <!--[if lt IE 7]>
          <script type="text/javascript" src="/unitpngfix.js"></script>
  <![endif]-->
  <%= javascript_include_tag 'css_browser_selector' %>
</head>
<%
   if @body_class.nil?
     if content_for?(:sidebar) 
       @body_class = params[:controller].eql?("blog_entries") ? 'one-col' : 'two-col'
     else
       @body_class = 'one-col'
     end
   end
%>

<body class="<%= @body_class %>" id="<%= @body_id %>">
<![if IE]>
<div id="page-background" height="100%" style="width:100%">
  <img src="/images/product/new_bg.jpg" width="100%" alt="" >
</div>
<![endif]-->
<div style="display:none;"><img src="/images/bg.gif"></div> <!-- For caching background image -->
<div class="wrapper">
  <div class="main_top" align="center">
    <div class="header_panel">
      <ul>
        <li style="width:auto;"><%= link_to image_tag("top_logo.png", :alt => "", :class=>'top_logo'), root_url %></li>
        <li class="header_panel_search">
          <div id="flag_1">Made in Italy</div>
          <div id="flag_2">Эксклюзивный<br/>дистрибьютор</div>
          <div id="header_menu">
            <table class="" width="100%">
              <tr>
                <td>
                  <ul class="header_menu">
                    <% for page in Page.header_links do %>
                      <li<%== ' style="margin-left:-15px;"' if Page.header_links.first.eql?(page) %>>
                        <% subpages = Page.all(:conditions=>"slug LIKE '#{page.link}/%'") -%>
                        <%= link_to page.title, (subpages.any? ? '#' : page.link), :class=>(subpages.any? ? 'has_submenu' : '') %>
                        <% unless subpages.empty? -%>
                          <div class='sub_menu_wrapper'>
                            <div id="top_submenu_pointer"></div>
                            <ul class='sub_menu'>
                            <% subpages.each do |sp| -%>
                              <% c = "first" if sp.eql?(subpages.first)  -%>
                              <% c = "last" if sp.eql?(subpages.last)  -%>
                              <li class='<%= c %>'><%= link_to sp.title, sp.link %></li>
                            <% end -%>
                            </ul>
                          </div>
                        <% end -%>
                        <%#= page.inspect %>
                      </li>
                    <% end %>
                  </ul>
                  <script type="text/javascript">
                    $(function(){
                      $(document).click(function(e){
                        if(!$(e.target).hasClass('sub_menu_wrapper') && !$(e.target).hasClass('has_submenu'))
                          $("div.sub_menu_wrapper").hide()
                      })
                      $("a.has_submenu").click(function(){
                        $(this).next().css('left', $(this).position().left-60+"px").show()
                      })
                    })
                  </script>
                </td>
                <td><span id="phone_number">+7 (906) 720-70-70</span></td>
              </tr>
              <tr>
                <td colspan="2" >
                  <%= render 'shared/search' %>
                  <%= hook :shared_login_bar %>
                    <%= link_to_cart %>
                    <% if current_order.nil? or current_order.line_items.empty? -%>
                    <% else -%>
                      <div class='cart_item_count'><%= current_order.item_count %></div>
                    <% end -%>
                    

                </td>
              </tr>
            </table>
            
            
          <!--
          
          
          <div></div>
          -->
          </div>
        </li>
        <li class="header_panel_cart">
          
        </li>
        <% if defined?(SpreeCompareProducts) %>
        <li class="header_panel_compare_product">
            <div><%= link_to(t(:product_comparison, :scope => :compare_products) + (@comparable_products.size > 0 ? " (#{@comparable_products.count})" : ""),
                             compare_products_path, :id => "compare_products") %></div>
            <div id="tooltip" class="tooltip" style="display: none">
              <div class="tooltip_top"></div>
              <div class="tooltip_middle">
                <div style="font-size: 0px">&nbsp;</div>
                <div class="tooltip_content" id="tooltip_content"></div>
                <div style="font-size: 0px">&nbsp;</div>
              </div>
              <div class="tooltip_bottom"></div>
            </div>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div align="center">
    <div class="fixed_width">
     <!--
      <div id="top_panel">
        <div id="top_login_bar">
          <!-- Тут было login_bar
        </div>
        <!-- Тут было header_menu 
      </div>
      -->
      <%= render :partial => 'shared/comparable_products' if defined?(SpreeCompareProducts) %>
      <% if content_for?(:sidebar) %>
        <div class="sidebar" >
          <%= hook :sidebar do %>
            <%= yield :sidebar %>
          <% end %>

          <% if Page.sidebar_links.any? %>
          <div id="sidebar_menu">
            <ul class="sidebar_menu">
              <% for page in Page.sidebar_links do %>
                <li><%= link_to page.title, page.link %></li>
              <% end %>
            </ul>
          </div>
          <% end %>
        </div>
      <% end %>
      <div id="content" class="content">
        <%= flash_messages %>
        <noscript>
          <% if flash[:notice] %>
            <div class="flash notice"><%= flash[:notice] %></div>
          <% end %>
          <% if flash[:error] %>
            <div class="flash errors"><%= flash[:error] %></div>
          <% end %>
        </noscript>
        <% if @taxonomies %>
          <% 
            img_id = 1+rand(3);
            img_style = ["", "margin-left:-100px;", "margin-left:-50px;"];
            mc_style = ["", "", ""]
          %>
          <img src="/images/product/woman<%= img_id %>.png" style="<%= img_style[img_id-1] %>" class="girl_image"/>
          <%= render :partial => "shared/news_short" %>
          
          <div id="main_content" style="<%= mc_style[img_id-1] %>">
            <h1>Спецпредложения</h1>
            <div class="hr stretch"></div>   
            <ul class="product-listing">
            <% @taxonomies.select{|t| t.show_on_homepage }.each do |taxonomy| %>
              <% taxonomy.taxons.each do |taxon| %>
                <%= render :partial => "shared/products", :locals => {:products => taxon_preview(taxon, 6), :taxon => taxon, :main_page=>true} %>
              <% end %>
            <% end %>
            </ul>
          </div>
        <% end %>

        <%= yield %>
      </div>
      <div style="height: 10px;"></div>
    </div>
  </div>
  <div class="footer_fake"></div>
</div>
<div class="footer" align="center">
  <div style="overflow:auto; color:#5D292B; padding-top:20px; font-size: 13px; text-align:left;   width: 950px !important;">
    <div id="footer_left_content" style="float:left;">
    Представительство производителя итальянской<br/>
    декоративной косметики Cinecitta make up и Film maquillage в России.<br/>
    Школа визжа и боди-арта.
    </div>
    <div id="footer_right_content" style="float:right; text-align: right;">
    Телефон +7 (906) 720-70-70<br/>
    Почта <a href="mailto:makeupitaly@mail.ru" style="color:#5D292B">makeupitaly@mail.ru</a><br/>
    Российская федерация, Москва, Щелковское ш., 21А<br/>
    <a href="http://www.artbanda.com"  style="color:#5D292B">www.artbanda.com</a><br/>
    <a href="http://www.priyatnoesvidanie.ru"  style="color:#5D292B">www.priyatnoesvidanie.ru</a><br/>
    </div>
  </div>
<!-- 
<% cache 'footer_menu' do %>
  <ul class="footer_menu">
    <% for page in Page.footer_links do %>
      <li><%= link_to page.title, page.link %></li>
    <% end %>
  </ul>
<% end %>
-->
</div>

<%= hook :footer_right %>
<% cache 'google_analytics' do %>
  <%= render 'shared/google_analytics' %>
<% end %>
<script type="text/javascript">
  var ua = navigator.userAgent.toLowerCase();
  var isOpera = (ua.indexOf('opera')  > -1);
  var isIE = (!isOpera && ua.indexOf('msie') > -1);

  function getViewportHeight() {
    return ((document.compatMode || isIE) && !isOpera) ? (document.compatMode == 'CSS1Compat') ? document.documentElement.clientHeight : document.body.clientHeight : (document.parentWindow || document.defaultView).innerHeight;
  }

	function docHeight() {
    return (Math.max(document.compatMode != 'CSS1Compat' ? document.body.scrollHeight : document.documentElement.scrollHeight, getViewportHeight()))+20;
  }

  document.getElementById('page-background').style.height=docHeight()+"px";

  
</script>
</body>
</html>

